In [1]:
#pip install scrapy

In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv("extract_saree.csv")
df.head()

                stars                                            comment
0  3.0 out of 5 stars  \n\n\n\n\n\n\n\n\n\n  \n  \n    \n  Material i...
1  5.0 out of 5 stars  \n\n\n\n\n\n\n\n\n\n  \n  \n    \n  The saree ...
2  5.0 out of 5 stars  \n\n\n\n\n\n\n\n\n\n  \n  \n    \n  Excellent ...
3  5.0 out of 5 stars  \n\n\n\n\n\n\n\n\n\n  \n  \n    \n  Very good ...
4  5.0 out of 5 stars  \n\n\n\n\n\n\n\n\n\n  \n  \n    \n  I like thi...

# Text preprocessing

In [4]:
# removing all special characters
import re
df['comment']=df['comment'].apply(lambda x:re.sub('[^A-Za-z ]',"",str(x)))

In [5]:
df.head()

                stars                                            comment
0  3.0 out of 5 stars            Material is good but the peacock pri...
1  5.0 out of 5 stars            The saree has repeatedly folded  Tho...
2  5.0 out of 5 stars            Excellent saree at this price Liked ...
3  5.0 out of 5 stars            Very good Saree   will reorder Stron...
4  5.0 out of 5 stars            I like this very much really its ama...

In [6]:
# converting all reviews to lower case
df['comment']=df['comment'].apply(lambda x:x.lower())

In [7]:
df.head()

                stars                                            comment
0  3.0 out of 5 stars            material is good but the peacock pri...
1  5.0 out of 5 stars            the saree has repeatedly folded  tho...
2  5.0 out of 5 stars            excellent saree at this price liked ...
3  5.0 out of 5 stars            very good saree   will reorder stron...
4  5.0 out of 5 stars            i like this very much really its ama...

In [8]:
# converting the reviews to list form
df['comment']=df['comment'].apply(lambda x: x.split())

In [9]:
df.head()

                stars                                            comment
0  3.0 out of 5 stars  [material, is, good, but, the, peacock, print,...
1  5.0 out of 5 stars  [the, saree, has, repeatedly, folded, though, ...
2  5.0 out of 5 stars  [excellent, saree, at, this, price, liked, the...
3  5.0 out of 5 stars  [very, good, saree, will, reorder, strongly, r...
4  5.0 out of 5 stars  [i, like, this, very, much, really, its, amazi...

In [10]:
stop=open("stop.txt")
stopwords = stop.read()
stopwords=stopwords.splitlines()
stopwords

['a',
 "a's",
 'able',
 'about',
 'above',
 'according',
 'accordingly',
 'across',
 'actually',
 'after',
 'afterwards',
 'again',
 'against',
 "ain't",
 'all',
 'allow',
 'allows',
 'almost',
 'alone',
 'along',
 'already',
 'also',
 'although',
 'always',
 'am',
 'among',
 'amongst',
 'an',
 'and',
 'another',
 'any',
 'anybody',
 'anyhow',
 'anyone',
 'anything',
 'anyway',
 'anyways',
 'anywhere',
 'apart',
 'appear',
 'appreciate',
 'appropriate',
 'are',
 "aren't",
 'around',
 'as',
 'aside',
 'ask',
 'asking',
 'associated',
 'at',
 'available',
 'away',
 'awfully',
 'b',
 'be',
 'became',
 'because',
 'become',
 'becomes',
 'becoming',
 'been',
 'before',
 'beforehand',
 'behind',
 'being',
 'believe',
 'below',
 'beside',
 'besides',
 'best',
 'better',
 'between',
 'beyond',
 'both',
 'brief',
 'but',
 'by',
 'c',
 "c'mon",
 "c's",
 'came',
 'can',
 "can't",
 'cannot',
 'cant',
 'cause',
 'causes',
 'certain',
 'certainly',
 'changes',
 'clearly',
 'co',
 'com',
 'come',
 'comes',
 'concerning',
 'consequently',
 'consider',
 'considering',
 'contain',
 'containing',
 'contains',
 'corresponding',
 'could',
 "couldn't",
 'course',
 'currently',
 'd',
 'definitely',
 'described',
 'despite',
 'did',
 "didn't",
 'different',
 'do',
 'does',
 "doesn't",
 'doing',
 "don't",
 'done',
 'down',
 'downwards',
 'during',
 'e',
 'each',
 'edu',
 'eg',
 'eight',
 'either',
 'else',
 'elsewhere',
 'enough',
 'entirely',
 'especially',
 'et',
 'etc',
 'even',
 'ever',
 'every',
 'everybody',
 'everyone',
 'everything',
 'everywhere',
 'ex',
 'exactly',
 'example',
 'except',
 'f',
 'far',
 'few',
 'fifth',
 'first',
 'five',
 'followed',
 'following',
 'follows',
 'for',
 'former',
 'formerly',
 'forth',
 'four',
 'from',
 'further',
 'furthermore',
 'g',
 'get',
 'gets',
 'getting',
 'given',
 'gives',
 'go',
 'goes',
 'going',
 'gone',
 'got',
 'gotten',
 'greetings',
 'h',
 'had',
 "hadn't",
 'happens',
 'hardly',
 'has',
 "hasn't",
 'have',
 "haven't",
 'having',
 'he',
 "he's",
 'hello',
 'help',
 'hence',
 'her',
 'here',
 "here's",
 'hereafter',
 'hereby',
 'herein',
 'hereupon',
 'hers',
 'herself',
 'hi',
 'him',
 'himself',
 'his',
 'hither',
 'hopefully',
 'how',
 'howbeit',
 'however',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'ie',
 'if',
 'ignored',
 'immediate',
 'in',
 'inasmuch',
 'inc',
 'indeed',
 'indicate',
 'indicated',
 'indicates',
 'inner',
 'insofar',
 'instead',
 'into',
 'inward',
 'is',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'j',
 'just',
 'k',
 'keep',
 'keeps',
 'kept',
 'know',
 'knows',
 'known',
 'l',
 'last',
 'lately',
 'later',
 'latter',
 'latterly',
 'least',
 'less',
 'lest',
 'let',
 "let's",
 'like',
 'liked',
 'likely',
 'little',
 'look',
 'looking',
 'looks',
 'ltd',
 'm',
 'mainly',
 'many',
 'may',
 'maybe',
 'me',
 'mean',
 'meanwhile',
 'merely',
 'might',
 'more',
 'moreover',
 'most',
 'mostly',
 'much',
 'must',
 'my',
 'myself',
 'n',
 'name',
 'namely',
 'nd',
 'near',
 'nearly',
 'necessary',
 'need',
 'needs',
 'neither',
 'never',
 'nevertheless',
 'new',
 'next',
 'nine',
 'no',
 'nobody',
 'non',
 'none',
 'noone',
 'nor',
 'normally',
 'not',
 'nothing',
 'novel',
 'now',
 'nowhere',
 'o',
 'obviously',
 'of',
 'off',
 'often',
 'oh',
 'ok',
 'okay',
 'old',
 'on',
 'once',
 'one',
 'ones',
 'only',
 'onto',
 'or',
 'other',
 'others',
 'otherwise',
 'ought',
 'our',
 'ours',
 'ourselves',
 'out',
 'outside',
 'over',
 'overall',
 'own',
 'p',
 'particular',
 'particularly',
 'per',
 'perhaps',
 'placed',
 'please',
 'plus',
 'possible',
 'presumably',
 'probably',
 'provides',
 'q',
 'que',
 'quite',
 'qv',
 'r',
 'rather',
 'rd',
 're',
 'really',
 'reasonably',
 'regarding',
 'regardless',
 'regards',
 'relatively',
 'respectively',
 'right',
 's',
 'said',
 'same',
 'saw',
 'say',
 'saying',
 'says',
 'second',
 'secondly',
 'see',
 'seeing',
 'seem',
 'seemed',
 'seeming',
 'seems',
 'seen',
 'self',
 'selves',
 'sensible',
 'sent',
 'serious',
 'seriously',
 'seven',
 'several',
 'shall',
 'she',
 'should',
 "shouldn't",
 'since',
 'six',
 'so',
 'some',
 'somebody',
 'somehow',
 'someone',
 'something',
 'sometime',
 'sometimes',
 'somewhat',
 'somewhere',
 'soon',
 'sorry',
 'specified',
 'specify',
 'specifying',
 'still',
 'sub',
 'such',
 'sup',
 'sure',
 't',
 "t's",
 'take',
 'taken',
 'tell',
 'tends',
 'th',
 'than',
 'thank',
 'thanks',
 'thanx',
 'that',
 "that's",
 'thats',
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'thence',
 'there',
 "there's",
 'thereafter',
 'thereby',
 'therefore',
 'therein',
 'theres',
 'thereupon',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'think',
 'third',
 'this',
 'thorough',
 'thoroughly',
 'those',
 'though',
 'three',
 'through',
 'throughout',
 'thru',
 'thus',
 'to',
 'together',
 'too',
 'took',
 'toward',
 'towards',
 'tried',
 'tries',
 'truly',
 'try',
 'trying',
 'twice',
 'two',
 'u',
 'un',
 'under',
 'unfortunately',
 'unless',
 'unlikely',
 'until',
 'unto',
 'up',
 'upon',
 'us',
 'use',
 'used',
 'useful',
 'uses',
 'using',
 'usually',
 'uucp',
 'v',
 'value',
 'various',
 'very',
 'via',
 'viz',
 'vs',
 'w',
 'want',
 'wants',
 'was',
 "wasn't",
 'way',
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'welcome',
 'well',
 'went',
 'were',
 "weren't",
 'what',
 "what's",
 'whatever',
 'when',
 'whence',
 'whenever',
 'where',
 "where's",
 'whereafter',
 'whereas',
 'whereby',
 'wherein',
 'whereupon',
 'wherever',
 'whether',
 'which',
 'while',
 'whither',
 'who',
 "who's",
 'whoever',
 'whole',
 'whom',
 'whose',
 'why',
 'will',
 'willing',
 'wish',
 'with',
 'within',
 'without',
 "won't",
 'wonder',
 'would',
 'would',
 "wouldn't",
 'x',
 'y',
 'yes',
 'yet',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'z',
 'zero']

In [11]:
#removing the stopwords
df['comment']=df['comment'].apply(lambda x: [word for word in x if word not in set(stopwords)])

In [12]:
df.head()

                stars                                            comment
0  3.0 out of 5 stars    [material, good, peacock, print, fades, washed]
1  5.0 out of 5 stars        [saree, repeatedly, folded, product, price]
2  5.0 out of 5 stars  [excellent, saree, price, colour, design, mate...
3  5.0 out of 5 stars        [good, saree, reorder, strongly, recommend]
4  5.0 out of 5 stars                             [amazing, good, money]

In [13]:
#performing stemming
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()
df['comment']=df['comment'].apply(lambda x: [ps.stem(word) for word in x])

In [14]:
df.head()

                stars                                            comment
0  3.0 out of 5 stars         [materi, good, peacock, print, fade, wash]
1  5.0 out of 5 stars           [sare, repeatedli, fold, product, price]
2  5.0 out of 5 stars  [excel, sare, price, colour, design, materi, s...
3  5.0 out of 5 stars         [good, sare, reorder, strongli, recommend]
4  5.0 out of 5 stars                                [amaz, good, money]

In [15]:
df['stars']=df['stars'].apply(lambda x: x[0:3])

In [16]:
df.head()

  stars                                            comment
0   3.0         [materi, good, peacock, print, fade, wash]
1   5.0           [sare, repeatedli, fold, product, price]
2   5.0  [excel, sare, price, colour, design, materi, s...
3   5.0         [good, sare, reorder, strongli, recommend]
4   5.0                                [amaz, good, money]

In [17]:
sentiment = []
for val in df['stars']:
    if float(val)>3.0:
        sentiment.append(1)
    else:
        sentiment.append(0)
df['sentiment']=sentiment

In [18]:
df.head()

  stars                                            comment  sentiment
0   3.0         [materi, good, peacock, print, fade, wash]          0
1   5.0           [sare, repeatedli, fold, product, price]          1
2   5.0  [excel, sare, price, colour, design, materi, s...          1
3   5.0         [good, sare, reorder, strongli, recommend]          1
4   5.0                                [amaz, good, money]          1

In [19]:
df['comment']=df['comment'].apply(lambda x : " ".join(x))
df.head()

  stars                                            comment  sentiment
0   3.0                materi good peacock print fade wash          0
1   5.0                 sare repeatedli fold product price          1
2   5.0  excel sare price colour design materi sare pre...          1
3   5.0               good sare reorder strongli recommend          1
4   5.0                                    amaz good money          1

# TFIDF

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
tfidf = TfidfVectorizer()
tfidf_val=tfidf.fit_transform(df['comment'])

In [22]:
tfidf_df=pd.DataFrame(tfidf_val.todense(),columns=tfidf.get_feature_names())
tfidf_df.head()

,aanchal,accept,achchi,add,addit,againtoo,amaz,amazon,amezingmust,amount,...,wore,work,worst,worth,worthful,worthi,wouldnt,wowww,wrong,yr
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.791919,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Building the model

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(tfidf_df,df['sentiment'],test_size=0.3)

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score as ac

In [25]:
models = [DecisionTreeClassifier(),LogisticRegression()]
for model in models:
    model.fit(x_train,y_train)
    print("Accuracy score of model "+str(model)+" is: "+str(ac(y_test,model.predict(x_test))))

Accuracy score of model DecisionTreeClassifier() is: 0.7619047619047619
Accuracy score of model LogisticRegression() is: 0.8333333333333334

# Accuracy of logistic regression model is 83.33%